<div class="hero" style="{{theme_mods.ksource_blog_home_image ? 'background-image: url(' ~ theme_mods.ksource_blog_home_image ~ ');'}}">
  <div class="container">
    <div class="text--end">
      {% if show_return_link %}
        <a href="/" class="hero__return-link">{{site.name}} <span class="icon icon--chevron-right vertical-align--middle text--small"></span></a>
      {% else %}
        {% include 'navigation.twig' %}
      {% endif %}
    </div>
    <h1 class="hero__title">
      <a href="{{posts_link}}" style="{{theme_mods.ksource_blog_home_title_colour ? 'color: ' ~ theme_mods.ksource_blog_home_title_colour}}">
        {% if banner_title %}
          {{banner_title}}
        {% else %}
          Blog
        {% endif %}
      </a>
    </h1>
    {% if banner_subtitle %}
      <p class="hero__subtitle" style="{{theme_mods.ksource_blog_home_subtitle_colour ? 'color: ' ~ theme_mods.ksource_blog_home_subtitle_colour}}">{{banner_subtitle}}</p>
    {% endif %}
  </div>
</div>
