<div class="article-comments">
  <h4 class="beta flush">{{__('Comments','ksource')}}</h4>
  {% for comment in post.comments %}
    {% if comment.comment_approved %}
      <div id="comment-{{comment.ID}}" class="article-comment comment-{{post.ID}} comment-order-{{loop.index}}">
        <h5 class="comment-author">{{comment.author.name}}</h5>
        <div class="comment-content">{{comment.comment_content|wpautop}}</div>
        {% if is_user_logged_in and post.comment_status == 'open' %}<div><a href="#" class="js-show-comment-form" data-id="{{comment.ID}}" data-class="comment-form--hidden">{{__('Reply','ksource')}}</a></div>{% endif %}
        {% if comment.children %}
          {% for reply in comment.children %}
            {% include 'partials/comment-children.twig' with {reply:reply, currentDepth:1} %}
          {% endfor %}
        {% endif %}
        {% if post.comment_status == 'open' %}{% include 'partials/comment-form.twig' with {identifier:comment.ID, hideClass:'comment-form--hidden'} %} {% endif %}
      </div>
    {% elseif is_user_logged_in %}
      <div id="comment-{{comment.ID}}" class="article-comment{{currentDepth % 2 == 0 ? '' : ' article-comment--comment'}} comment-{{comment.ID}} comment-order-{{loop.index}}">
        <h6 class="comment-author">{{comment.author.name}}</h6>
        <div class="comment-content">
          {{__('Your comment is awaiting moderation.', 'ksource')}}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>