<footer class="main-footer{{post.hide_footer ? ' main-footer--hidden'}}">
  <div class="container">
    <h2 class="sr-only">Main Footer</h2>
    <div class="grid grid--center{{post.hide_footer ? ' hidden'}}">
      {% for item in theme_mods.footer_menus|slice(0, 4) %}<div class="grid__item medium--one-fifth {{theme_mods.large_only ? 'large-only'}}">
        {% set menu_obj = function('wp_get_nav_menu_object', item.menu) %}
        {% set submenus = function('wp_get_nav_menu_items', item.menu) %}
        <h3 class="beta uppercase weight--bold zeta">{{menu_obj.name}}</h3>
        {% if submenus %}
          <ul class="nav navigation__list">
            {% for menu_item in submenus %}
              <li><a class="text-color--light" href="{{menu_item.url}}">{{menu_item.title}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>{% endfor %}{% if theme_mods.footer_social %}<div class="grid__item medium--one-fifth large--only">
        <h3 class="beta uppercase weight--bold zeta">{{theme_mods.footer_social_title}}</h3>
        {% for network in theme_mods.footer_social %}<a class="text-color--light" href="{{network.social_link}}">
          <span class="main-footer__social-icon">
            <span class="icon icon--{{network.social_network}}"></span>
          </span>
        </a>{% endfor %}
      </div>{% endif %}
    </div>
    <div class="text--center push--top">
      <a href="#" class="button button--secundary small--only">contact us <span class="icon icon--arrow vertical-align--middle push-half--left"></span></a>
    </div>
    <div class="main-footer__copyright-container">
      <span>&copy; {{theme_mods.copyright_starting_year ? theme_mods.copyright_starting_year ~ ' - '}}{{ "now"|date("Y") }} {{site.name}}.</span>
      <span>{{theme_mods.footer_copyright}}</span>
      {% if theme_mods.powered_by_text %}<span class="push-half--sides">-</span><span>{{theme_mods.powered_by_text}}</span>{% endif %}
    </div>
  </div>
</footer>
