<!DOCTYPE HTML>
<html class="no-js" {{site.language_attributes}}>
  <head>
    <title>{{ wp_title ? wp_title ~ ' - '}}{{ site.name }}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="format-detection" content="telephone=no">
    <meta charset="{{site.charset}}" />
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <script>document.querySelector('html').classList.remove('no-js');</script>
    <!--[if lte IE 8]><script src="{{html5shiv}}"></script><![endif]-->
    {{function('wp_head')}}
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ie8css}}" /><![endif]-->
  </head>
  <body class="{{body_class}}">
    <div id="page-wrapper">
       {% block header %}{{__('Sorry, no content yet', 'helios')}}{% endblock %}
       {% block content %}{{__('Sorry, no content yet', 'helios')}}{% endblock %}
        {% include 'shared/footer.twig'%}
    </div>
      <!--[if lte IE 8]><script src="{{respond}}"></script><![endif]-->
      {{function('wp_footer')}}

  </body>
</html>