{% extends "layouts/base.twig" %}
{% block header %}{% include 'partials/blog-hero.twig' with {banner_title: theme_mods.ksource_blog_home_title, banner_subtitle: theme_mods.ksource_blog_home_subtitle}%}{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="container">
      <div class="grid">
        <div class="grid__item medium--two-thirds">
          <section>
            {% if posts %}
              {% for post in posts %}
                <article class="article-excerpt {{post.class}}" id="article-{{post.ID}}">
                  {% if (theme_mods.ksource_show_date) or (theme_mods.ksource_show_categories) %}
                    <small class="display-block">
                      {% if theme_mods.ksource_show_date %}
                        {{post.post_date|date('F j, Y')}} 
                        {% if theme_mods.ksource_show_categories %}
                          in 
                        {% endif %}
                      {% endif %}
                      {% if theme_mods.ksource_show_categories %}
                        {% for item in post.categories %}
                          <a href="{{item.link}}">{{item.name}}</a>
                        {% endfor %}
                      {% endif %}
                    </small>
                  {% endif %}
                  <h1 class="beta">
                    <a href="{{post.link}}" class="article-excerpt__title-link">{{post.title}}</a>
                    <small>
                      {% if post.can_edit %}
                        <a href="{{post.get_edit_url}}">Edit me!</a>
                      {% endif %}
                    </small>
                  </h1>
                  {% if post.thumbnail %}
                    <div class="push--bottom">
                      <img class="thumbnail__image" src="{{TimberImage(post.thumbnail).src}}" alt="{{TimberImage(post.thumbnail).alt}}">
                    </div>
                  {% endif %}
                  <div class="article-excerpt__content">
                    {% if protected[loop.index0] %}
                      <div class="password-form">
                        <label class="password-form__label">
                          <span class="bold">{{  __('This is a protected area.', 'ksource') }}</span> {{ __('Please enter your password', 'ksource') }} <a href="{{post.link}}"> {{ __('here', 'ksource') }} </a> {{ __('to continue', 'ksource') }}
                        </label>
                      </div>
                    {% else %}
                      {{post.post_excerpt ? post.post_excerpt : (post.content)}}
                      <div class="push--top">
                        <a class="article-excerpt__permalink" href="{{post.link}}"><span class="icon icon--link"></span>{{ __('Permalink', 'ksource') }}</a>
                      </div>
                    {% endif %}
                  </div>
                </article>
              {% endfor %}
              {% include 'partials/pagination.twig' %}
            {% else %}
              <h1 class="beta">
                {{ __('Sorry, no results were found.', 'ksource') }}
              </h1>
            {% endif %}
          </section>
        </div><!-- 
         --><div class="grid__item medium--one-third">
          <aside class="aside-nav">
            {% include "partials/sidebar.twig" %}
          </aside>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}