{% extends "layouts/base.twig" %}
{% block header %}{% include 'partials/blog-hero.twig' with {banner_title: theme_mods.ksource_blog_home_title, banner_subtitle: theme_mods.ksource_blog_home_subtitle}%}{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="container">
      <div class="grid">
        <div class="grid__item large--two-thirds">
          <section>
            <article class="article push--bottom" id="article-{{post.ID}}">
              <small class="display-block">
                {{post.post_date|date('F j, Y')}}
                in
                {% for item in post.categories %}
                  {% if item.count > 0 %}
                    <a href="{{item.link}}">{{item.name}}</a>
                  {% endif %}
                {% endfor %}
              </small>
              <h1 class="beta">
                <a href="{{post.link}}" class="article-excerpt__title-link">{{post.title}}</a>
              </h1>
              <div class="article-excerpt__content">
                {% include 'partials/password-form.twig' %}
              </div>
            </article>
            {% if post.tags %}
              <small>
                <span class="semibold push-half--right">Tags:</span>
                <ul class="list-unstyled list-inline display-inline-block">
                  {% for tag in post.tags %}
                    <li class="capitalize">
                      <a href="{{tag.link}}">{{tag}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </small>
            {% endif %}
            <div class="article-author">
              <div class="push--bottom">
                <span class="article-author__photo push-half--right" style="background-image: url({{post.author.avatar.abs_url}});"></span>
                <div class="display-inline-block vertical-align--middle">
                  <div class="text--larger capitalize">{{post.author.name ? post.author.name : post.author.nickname}}</div>
                  <div class="article-author__job-title">{{post.author.job_title}}</div>
                </div>
                <div class="float--end">
                  {% if post.author.linkedin %}
                    <a href="{{post.author.linkedin}}" class="article-author__social-icon" target="_blank">
                      <span class="icon icon--linkedin"></span>
                    </a>
                  {% endif %}
                  {% if post.author.twitter %}
                    <a href="{{post.author.twitter}}" class="article-author__social-icon" target="_blank">
                      <span class="icon icon--twitter"></span>
                    </a>
                  {% endif %}
                </div>
              </div>
              <p>{{post.author.description}}</p>
              <a href="{{post.author.link}}">
                View more posts from <span class="capitalize">{{post.author.name ? post.author.name : post.author.nickname}}</span>
                <span class="icon icon--chevron-right vertical-align--middle text--small"></span>
              </a>
            </div>
          </section>
        </div><!--
         --><div class="grid__item large--one-third">
          <aside class="aside-nav">
            {% include "partials/sidebar.twig" %}
          </aside>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}